<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">You are now at the HomeComponent</p>
  <a class="btn btn-lg btn-primary" routerLink="/login">Login</a>
</div>

<!--<form [formGroup]="form" class="form mt-3" (submit)="submit()">-->
<!--  <div class="form-group">-->
<!--    <input type="email" formControlName="email" class="form-control" placeholder="Email">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <input type="password" formControlName="password" class="form-control" placeholder="Password">-->
<!--  </div>-->

<!--  <button class="btn btn-lg btn-primary btn-block">Login</button>-->
<!--</form>-->
